@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
h2 {
    font-size: 18px;
    color:#479b47;
  }

button {
  background-color: rgb(73, 226, 43);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  margin: 1.5rem 0 0 0;
}

body{
    background-color: #4a9b47;
}




